.div1 {
    text-align:center;
}
.img{
    border-radius: 60%;
 }
.div3{
   text-align: center;

}
.div4{
   text-align: center; 
}
.div5{
    
    margin: 30px;
    text-align: left;
}

.img2{
    border-image-width: auto;
}
.im{
    background-color: rgb(173, 168, 173);
}
.div6{
    text-align: center;
}
